@{
    ViewBag.Title = "Контактна інформація";
}
<h2>Контактна інформація</h2>
<h3 style="color:darkred">Контактна інформація</h3>


<address>
    Україна<br />
    м. Дніпро, вул. В. Вернадського 6<br />
    <abbr title="Phone">Тел:</abbr>
    0971646644
</address>

<address>
    <strong>Підтримка:</strong>   <a href="mailto:taras-soft@gmail.com">taras-soft@gmail.com</a><br />
</address>